*{
    box-sizing: border-box;
}

.header{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.logo{
    margin-right: 40px;
}

.nav_link{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-right: 30px;
    text-decoration: none;
}

.nav_link:last-child{
    margin-right: 0;
}

.nav p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #D19C2A;
    margin-right: 30px;
    margin-bottom: 0;
}

.nav_link:hover{
    color: #D19C2A;
    transition: all 0.3s;
}

.hd_wrapper_mobile{
    display: none;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #000;
    position: absolute;
    z-index: 6;
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #000;
    position: absolute;
    z-index: 6;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: -27%;
    position: absolute;
    z-index: 6;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 8;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #000;

    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 600px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 3;
}

.menu_item{
    width: 335px;
    height: 64px;
    background: #EDEDF7;
    border-radius: 12px;
    margin-bottom: 11px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #D19C2A;
    text-decoration: none;
    transition-duration: .25s;
}

.anker_link{
    width: 45px;
    height: 45px;
    color: #fff;
    border: 1px solid grey;
    border-radius: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
}


.main_section{
    padding: 184px 0 0;
}

.main{
    padding: 100px 0;
    border-top: 4px solid #373737;
}

.main_about_me{
    margin-bottom: 100px;
}

.main_about_me h1{
    font-weight: 700;
    font-size: 38px;
    color: #000000;
    margin-bottom: 100px;
}

.main_about_me img{
    float: right;
    margin-left: 86px;
}

.main p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.main_my_blog h2{
    font-weight: 700;
    font-size: 38px;
    color: #000000;
    margin-bottom: 91px;
}

.nav_info_section{
    padding-bottom: 145px;
}

.nav_info{
    border-bottom: 4px solid #373737;
}

.nav_info ul{
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    color: #000000;
}

.nav_info li{
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    color: #000000;
    list-style-type: disc;
    list-style-position: inside;
    padding: 90px 0;
}

.legal_immigrants-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.legal_immigrants-text{
    width: 500px;
}

.legal_immigrants-info img{
    width: 350px;
    height: 350px;
    margin-right: 80px;
}

.legal_immigrants-info h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #000000;
}

.legal_immigrants-info p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 16px 0;
}

.interview_laws-info{
    margin: 92px 0 0;
}

.nav_info-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.nav_info-item a:hover{
    font-size: 24px;
    transition: all 0.3s;
}

.nav_info-item img{
    background: #D9D9D9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

.nav_info-item span{
    display: block;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.nav_info-item p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 10px 0 18px;
    text-align: center;
}

.nav_info-item a {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #CDB577;
    text-decoration: none;
}

.laws_news-info{
    padding: 100px 30px 0;
}

.legal_system-info{
    display: flex;
    align-items: center;
    padding: 66px 30px 0;
}

.legal_system-info img{
    margin-right: 135px;
}

.connect, .chatbot{
    color: #fff;
    width: 210px;
    height: 44px;
    background: #CDB577;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
}

.footer_section{
    background: #373737;
    padding: 55px 0 15px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_links{
    margin: 58px 0 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_link{
    font-weight: 400;
    font-size: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_link:hover{
    color: #D19C2A;
    transition: all 0.3s;
}

.social_network a{
    margin-right: 63px;
}

.social_network a:last-child{
    margin-right: 0;
}

.reserved{
    padding: 35px 0;
    background: #1D1D1D;
    display: flex;
    justify-content: center;
}

.reserved p {
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #FFFFFF;
}

@media screen and (max-width: 400px){

    .header nav a, .header nav p{
        display: none;
    }

    .hd_wrapper_mobile{
        display: flex;
        align-items: center;
    }

    .main_section{
        padding: 0;
    }

    .main{
        border-top: none;
        padding: 100px 20px;
    }


    .main_about_me img {
        float: none;
        margin: 0 0 20px;
        width: 100%;
    }

    .main_my_blog h2{
        margin-bottom: 30px;
    }

    .nav_info{
        border-bottom: none;
    }

    .nav_info ul {
        padding-left: 0;
    }

    .nav_info li{
        font-size: 26px;
        padding-bottom: 0;
    }

    .legal_immigrants-info{
        display: block;
        padding-bottom: 0;
    }

    .nav_info-item{
        margin-bottom: 30px;
    }

    .legal_immigrants-info img{
        margin: 0 0 20px
    }

    .legal_immigrants-text{
        width: 100%;
        text-align: center;
    }

    .nav p{
        display: none;
    }

    .laws_news-info {
        padding: 100px 0 0;
    }

    .legal_system-info {
        display: block;
        padding: 66px 0 0;
    }

    .legal_system-info .imagee{
        margin: 0 0 40px;
        width: 100%;
    }

    .question{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_link{
        text-align: center;
    }

    .reserved{
        padding: 35px 20px;
    }

    .reserved p{
        text-align: center;
        line-height: 35px;
    }
}